/*
 * Huge thanks to the following for their inspiration/guidance:
 * http://www.linnhe2.free-online.co.uk/thunderbird/chrome.html - For a very comprehensive guide to userChrome.css
 * https://monterail.com/blog/2016/the-power-of-email-clients-why-did-we-redesign-thunderbird?utm_source=Thunderbird&utm_campaign=Dribbble&utm_medium=blogpost%22 - For the initial inspiration to do this 
 * http://www.omgubuntu.co.uk/2017/04/stunning-thunderbird-redesign-mockup - For alerting me to the beautiful mockup by monterail.com
*/

/* Uncomment to use square tabs (square tabs are enabled anyway for all except system.css) */
@import "tweaks/square-tabs.css";

/******************************************************************/
/*********************** SELECT THEME HERE ************************/
@import "themes/system.css";
/******************************************************************/
/******************************************************************/

/* Select icon theme (leave commented to use default for the selected theme)*/
/* @import "icons/lightIcons.css"; /*For dark Folder Tree and Message List*/
@import "icons/lightDarkIcons.css"; /*For dark Folder Tree, with a light Message List*/
/*@import "icons/darkIcons.css"; /*For light Folder Tree and Message List*/


/****************************************************************************/
/******** Variables: Uncomment and Edit these for easy customisation ********/
/****************************************************************************/
:root {
  /*---- General Options ----*/
  /*--default-font: var(--light-sans-font); /* Change to var(--system-font) to use your default font, or specify a font name */
  --menu-text-color: rgb(233,233,233); /* MenuText; /*WindowText; */
  
  /*---- Highlight Colors - Used if more specific ones aren't specified below ----/
  /*--highlight-color: Highlight;*/
  /*--highlight-text-color: HighlightText;*/
  
  /*---- Tree Views (Folder Tree/Message List) General Options ----*/
  /*--tree-row-highlight-background-color: var(--highlight-color);*/
  /*--tree-row-highlight-text-color: var(--highlight-text-color);*/
  
  /*---- Folder Tree ----*/
  /*--folder-tree-background-color: Menu;*/
  --folder-tree-text-color: rgb(233,233,233); /* MenuText; /*WindowText; */
  --folder-tree-row-height: 25px;
  /*--folder-tree-highlight-background-color: var(--tree-row-highlight-background-color);*/
  /*--folder-tree-highlight-text-color: var(--tree-row-highlight-text-color);*/
  
  /*---- Message List ----*/
  /*--message-list-header-background-color: Dialog;*/
  /*--message-list-background-color: none;*/
  /*--message-list-text-color: WindowText;*/
  --message-list-row-height: 25px;
  /*--message-list-highlight-background-color: var(--tree-row-highlight-background-color);*/
  /*--message-list-highlight-text-color: var(--tree-row-highlight-text-color);*/
  
  /*---- Scollbar ----*/
  /*--scrollbar-thumb-color: rgba(127,127,127,0.5);*/
  /*--scrollbar-thumb-hover-color: var(--highlight-color);*/
    
  /*---- Message Headers (To/Subject/From etc) ----*/
  /*--subject-line-font-size: 150%;*/
  /*--headers-background-color: transparent;*/
  /*--headers-text-color: WindowText;*/
}
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

/* MY MODIFICATIONS */

/* DOESNT WORK Fix margins on message list */
#threadTree > treechildren::-moz-tree-row {
	margin: 0 !important;
	padding: 0 !important;
}

/* Nice dividing border of menu/toolbar and app content */
.mail-toolbox {
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

/* Toolbar colors for mail column headers */
#threadCols > .tree-scrollable-columns, 
#threadCols > .treecol-image,
#threadCols > treecol
{
	background: transparent !important;
}
#threadCols {
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

/* Fix toolbar button dropdown marker border
.toolbarbutton-menubutton-dropmarker {
	border: 1px solid rgba(0,0,0,0.25) !important;
}
.toolbarbutton-menubutton-button {
	border: 1px solid rgba(0,0,0,0.25) !important;
}
  */

/* Toolbar colors for folders column headers */
#folderPaneCols {
	background: white !important;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}
.tree-scrollable-columns, .treecol-image {
	min-height: 35px !important;
}

#folderPaneCols > hbox {
	-moz-appearance: none !important;
	background: white !important;
	margin: 0 !important;
	min-height: 29px !important;
}
hbox .tree-scrollable-columns {
	-moz-appearance: none !important;
	background: transparent !important;
	min-height: 29px !important;
	/*padding: O !important;
	margin: 0 !important;*/
}

toolbar > toolbarbutton {
	margin-right: 4px !important;
	margin-left: 4px !important;
}
/*NEFUNGUJE
toolbar > toolbarbutton > toolbarbutton-menubutton-button {
	border: 1px solid rgb(233,233,233);
	border-radius: 2px;
	color: var(--ait-button-icon-color);
}
*/

/* CALENDAR - EVENTS */

/* Square calendar tabs */
#calendar-nav-control tab {
	border: none !important;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
	border-radius: 0 !important;
	background-color: transparent !important;
}
#calendar-nav-control tab[visuallyselected="true"] {
	border: 1px solid rgba(0,0,0,0.25) !important;
	border-bottom: none !important;
	border-radius: 0 !important;
}
.tab-middle {
	margin-left: 5px;
	margin-right: 5px;
}

#event-toolbar {
	-moz-appearance: none !important;
	height: 37px;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

/* MESSAGE COMPOSING */
#composeToolbar2 {
	-moz-appearance: none !important;
	height: 37px;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

/* Fix default font color on toolbar buttons */
.toolbarbutton-text {
	color: WindowText !important;
	/*-moz-dialogtext*/
}

/* MESSAGE READING IN NEW WINDOW */
#mail-toolbar-menubar2 {
	-moz-appearance: Menubar !important;
}
#mail-bar3, #calendar-toolbar2, #task-toolbar2 {
	-moz-appearance: none !important;
	height: 37px;
}
/* DISABLE margin for main app toolbar - handled by above #mail-bar3 !!!*/
.mail-toolbox:not([mode="full"]) > toolbar:only-of-type,
.mail-toolbox[mode="full"][labelalign="end"] > toolbar:only-of-type {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* ADDRESS BOOK */

/*Fix colors in addressbook toolbar */
#addrbook-toolbar-menubar2 {
	-moz-appearance: Menubar !important;
}

#ab-bar2 {
	-moz-appearance: none !important;
	height: 37px;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

#dirTreeBox, #DirCol, #abResultsTreeCols {
	background: transparent !important;
	color: WindowText;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}
#DirCol {
	min-height: 36px !important;
}

/* Address book entries - same design as mail list */
#abResultsTree > treechildren::-moz-tree-row {
	height: var(--message-list-row-height) !important;
	border: none !important;
	background: var(--message-list-background-color) !important;
	border-bottom: 1px solid rgba(127,127,127,0.2) !important;
}
#abResultsTree > treechildren::-moz-tree-cell-text {
	color: var(--message-list-text-color);
}

#abResultsTree > treechildren::-moz-tree-row(selected) {
	border: none !important;
	background: var(--message-list-highlight-background-color) !important;
}

#abResultsTree > treechildren::-moz-tree-cell-text(selected) {
	color: var(--message-list-highlight-text-color) !important;
}